<section class="section-container">
  <header >
    <h2>Register Form</h2>
    <p>Surtech Angular Chanllenge</p>
  </header>
  <form
    class="form-container"
    action=""
    [formGroup]="form"
    autocomplete="off"
    (ngSubmit)="onSubmit()"
  >
    <!-- Full Name -->
    <mat-form-field appearance="fill">
      <mat-label>Full Name</mat-label>
      <input matInput type="text" placeholder="Full Name" formControlName="fullName" />
      @if (form.get('fullName')?.hasError('required') && (form.get('fullName')?.touched ||
      form.get('fullName')?.dirty)) {
      <mat-error> Full name is required </mat-error>
      } @if( form.get('fullName')?.hasError('minlength') && (form.get('fullName')?.touched ||
      form.get('fullName')?.dirty)) {
      <mat-error> At least 3 characters </mat-error>
      }
    </mat-form-field>

    <!-- E-mail -->
    <mat-form-field>
      <mat-label>Enter your email</mat-label>
      <input
        matInput
        placeholder="pat@example.com"
        formControlName="email"
        (blur)="updateErrorMessage()"
        required
      />
      @if(form.get('email')?.invalid && (form.get('email')?.touched || form.get('email')?.dirty)){
      <mat-error>
        {{ errorMessage() }}
      </mat-error>
      }
    </mat-form-field>

    <!-- Datepicker -->
    <mat-form-field class="example-full-width">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" readonly formControlName="date" />
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker></mat-datepicker>
      @if(form.get('date')?.hasError('required') && (form.get('date')?.touched ||
      form.get('date')?.dirty)) {
      <mat-error> Date is required </mat-error>
      } @if(form.get('date')?.hasError('underAge') ){
      <mat-error> You must be at least 18 years old </mat-error>
      }
    </mat-form-field>

    <!-- Telephone -->
    <div style="display: flex">
      <mat-form-field style="flex: 1; margin-right: 8px">
        <mat-label>Area Code</mat-label>
        <input
          type="tel"
          matInput
          placeholder="+11"
          formControlName="areaCode"
          maxlength="4"
          minlength="2"
        />

        @if(form.get('areaCode')?.invalid && (form.get('areaCode')?.touched ||
        form.get('areaCode')?.dirty)){
        <mat-error> 2-4 chars. </mat-error>
        }
      </mat-form-field>

      <mat-form-field style="flex: 3">
        <mat-label>Phone Number</mat-label>
        <input
          matInput
          type="tel"
          placeholder="1234-5678"
          formControlName="phone"
          minlength="6"
          maxlength="8"
        />

        @if(form.get('phone')?.invalid && (form.get('phone')?.touched || form.get('phone')?.dirty)){
        <mat-error> Enter a valid phone number </mat-error>
        }
      </mat-form-field>
    </div>

    <!-- Country Selector -->
    <mat-form-field>
      <mat-label>Select a country</mat-label>
      <mat-select formControlName="country">
        <mat-option style="display: flex" value="Argentina">
          <img
            style="width: 20px; height: 15px; margin-left: auto"
            src="https://upload.wikimedia.org/wikipedia/commons/1/1a/Flag_of_Argentina.svg"
            alt="Argentina Flag"
          />
          <span> Argentina</span>
        </mat-option>
        <mat-option value="Chile">
          <img
            style="width: 20px; height: 15px; margin-left: auto"
            src="https://upload.wikimedia.org/wikipedia/commons/7/78/Flag_of_Chile.svg"
            alt="Chile Flag"
          />
          <span> Chile</span>
        </mat-option>
        <mat-option value="Bolivia">
          <img
            style="width: 20px; height: 15px; margin-left: auto"
            src="https://upload.wikimedia.org/wikipedia/commons/4/48/Flag_of_Bolivia.svg"
            alt="Bolivia Flag"
          />
          <span> Bolivia</span>
        </mat-option>
        <mat-option value="Colombia">
          <img
            style="width: 20px; height: 15px; margin-left: auto"
            src="https://upload.wikimedia.org/wikipedia/commons/2/21/Flag_of_Colombia.svg"
            alt="Colombia Flag"
          />
          <span> Colombia</span>
        </mat-option>
        <mat-option value="Brasil">
          <img
            style="width: 20px; height: 15px; margin-left: auto"
            src="https://upload.wikimedia.org/wikipedia/en/0/05/Flag_of_Brazil.svg"
            alt="Brasil Flag"
          />
          <span> Brasil</span>
        </mat-option>
      </mat-select>
      @if(form.get('country')?.invalid && (form.get('country')?.touched ||
      form.get('country')?.dirty)){
      <mat-error> Country is required </mat-error>
      }
    </mat-form-field>

    <!-- Password -->
    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input
        autocomplete="new-password"
        matInput
        [type]="hidePassword() ? 'password' : 'text'"
        formControlName="password"
      />
      <button
        type="button"
        matIconButton
        matSuffix
        (click)="toggleHidePassword($event)"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePassword()"
      >
        <mat-icon>{{ hidePassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>

      @if((form.get('password')?.hasError('minlength') || form.get('password')?.hasError('required')
      ) && (form.get('password')?.touched || form.get('password')?.dirty)){
      <mat-error> Password is required (min 8 characters) </mat-error>
      } @if(form.get('password')?.hasError('passwordStrength')){
      <mat-error>
        Password must include uppercase, lowercase, number, and special character
      </mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Repeat your password</mat-label>
      <input
        autocomplete="new-password"
        matInput
        [type]="hideConfirmPassword() ? 'password' : 'text'"
        formControlName="confirmPassword"
      />
      <button
        type="button"
        matIconButton
        matSuffix
        (click)="toggleHidePassword($event, true)"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hideConfirmPassword()"
      >
        <mat-icon>{{ hideConfirmPassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      @if(form.hasError('passwordMismatch') ){
      <mat-error> Passwords do not match </mat-error>
      }
    </mat-form-field>
    <button matButton="filled" type="submit" [disabled]="form.invalid" >Register</button>
  </form>
</section>
